{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Register</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'ecomapp/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'ecomapp/assets/css/responsive.css' %}">

</head>
<body>
	
	
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Get 24/7 Support</p>
						<h1>REGISTER</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- login form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					
				 	<div id="form_status"></div>
					<div class="login-form">
				
						<form action="{% url 'register' %}" method="post">
							{% csrf_token %}
							<p>
								
								<input type="email" placeholder="Email" name="email" id="email">
							</p>
							<p>
								<input type="text" placeholder="Password" name="password" id="password">
							
							</p>
							<p>
								<input type="text" placeholder="Username" name="username" id="username">
							
							</p>
							
							<p><input type="submit" value="Register here"></p>
							<button> <a href="{% url 'login' %}">LOGIN</a></button>
						</form>
					</div>
				</div>
				
	<!-- end login form -->

	
	<!-- jquery -->
	<script src="{% static 'ecomapp/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'ecomapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'ecomapp/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'ecomapp/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'ecomapp/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'ecomapp/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'ecomapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'ecomapp/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'ecomapp/assets/js/sticker.js' %}"></script>
	<!-- form validation js -->
	<script src="{% static 'ecomapp/assets/js/form-validate.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'ecomapp/assets/js/main.js' %}"></script>
	
</body>
</html>